@media(max-width:81.25rem){
    /* 1300px / 16px=81.25 */
    html{
        font-size: 50%;
        /* 8px/16px=50 */
    }


}
@media(max-width:66.9rem){
    html{
        font-size: 44%;
        /* 7px */
    }
    .textInfo1>h1{
        font-size: 3rem;
    }
    .textInfo2>h1{
        font-size: 3rem;
    }
}

@media(max-width:51.2rem){
    html{
        font-size:31.3% ;
        /* 5 */
    }
    .tech2{
        width: 40rem;
        height: 30rem;
    }

}
@media(max-width:41.25rem){
    html{
        font-size: 25%;
        /* 4px */
    }
        .textInfo1>h1{
        font-size: 3rem;
    }
    .textInfo2>h1{
        font-size: 3rem;
    }
}
@media(max-width:31.3rem){
    html{
        font-size: 18.8%;
        /* 3px */
    }
    .layoutContainer{
        grid-template-columns: 1fr;
    }
    .reviews-grid{
        grid-template-columns: 1fr;
    }
}